.container {
  margin: 0 auto;
  max-width: 1200px;
  margin-block-end: 146px;
}

.title{
  margin-block-end: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  list-style: none;

}

.item {  
  box-sizing: border-box;
  position: relative;
  width: 288px;
  height: 355px;
  padding: 8px 8px 16px 8px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #000;
}

.img {
  width: 272px;
  height: 215px;
  margin-block-end: 8px;
  border-radius: 8px;
  background-color: #414141;;
}

.category{
  position: absolute;
  top: 30px;
  left: 25px;
  padding: 4.5px 12px;
  font-weight: 600;
  font-size: 12px;
  background-color: #fff;
}

.heart_btn {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 16px;
  height: 16px;
  padding: 2px;
  transform: translate(50%,-50%);
  background: #fff;
  border: none;
}

.span{
  margin-block-end: 4px;
  font-size: 12px;
  color: #949494;
}

.text,
.price {
  font-size: 16px;
  color: #000;
}

.price{
  margin-block-start: 4px;
}
